#tr{

    margin-top: -65%;
    margin-left: 20%;
}


#yt{

    margin-left: 2%;
    font-size: x-large;
    color:aliceblue;
    margin-top: -21%;

}

#setting{
    margin-left:-90%;
    margin-top:2%;
}

#title-settings{
   color:white;
   font-family:'Times New Roman', Times, serif
}


#links-setting{
    color:white;
    
    
    width:500px;
}
#links-setting:hover{
    color:rgb(113, 17, 113)
    
    
   
}
#sett-app{
    color:darkgrey;
}

body{
    background-color: rgb(10, 9, 9);
    

}

#set-help{

    color:white;
}


#img21{

    margin-left: 55%;
}