#gt {

    margin-left: 20%;
    margin-top: -65%;
}

body {
    background-color: black;
}

h2 {

    color: white;
    margin-left: -7%;
    margin-right: 5%;
    margin-top: 2%;

}
h2:hover{
    color:rgb(113, 17, 113)
}


#sign {
    margin-top: -5.5%;
    margin-left: 85%;


}
#sign:hover {
    background-color: rgb(6, 120, 170);
    color:white;
}

#logout {

    size: 20px;
    margin-left: 85%;
    margin-top: -1%;

}
#logout:hover{
    background-color: rgb(6, 120, 170);
    color:white;

}

#login {
    margin-left: 78%;
}
#login:hover{
    background-color: rgb(6, 120, 170) ;
    color:white;
}

#h4 {

    margin-top: -3%;
    color: aqua;
    margin-left: 35%;
    font-size: x-large;
}

#acc {


    font-size: x-large;
    color: beige;
    margin-top: 3%;

}

#na {
    margin-top: -2.5%;
    margin-left: 2.5%;
}
.h5-home{
    margin-left: 27%;
    margin-top: 3%;
}