.re{

  text-align: left;
  margin-left: -14.5%;

  font-size: 80%;

  background-color: rgb(21, 19, 19);
  color: white;
  width: 200px;
  height :800px;
  position:fixed;


  
}
/* #span-home{
  
} */
#h6-lay{
  margin-top: 165%;
  margin-left: 10%;
 
}

 #h6-lay #face:hover{
   color:rgb(113, 17, 113)
}
#h6-lay #insta:hover{
  color:rgb(113, 17, 113)
}
#h6-lay #twitter:hover{
  color:rgb(113, 17, 113)
}


.container{
  height: 1000px;
 
}
#li1{


  margin-left: 12%;
  font-size: 180%;
  /* color:aliceblue;
   */
}

a:hover{

  color:aliceblue;
}
#li2{

  margin-left: 10%;
}
.img1{

  margin-left: 18%;
  border-radius: 70%;
}
#lit3{
  
  margin-left: 4%;
  font-size: 160%;
  
}

#h2{
  
  color:white;
  margin-left: 15%;
 margin-top : 10%;
 font-size: 200%;

}
#tr{

  margin-left: 50%;
  margin-top: -50%;
}
body{

  background-color: gray;
}


p{
  margin-left: 26%;
  margin-top: -14%;
  font-size: larger;
}