#re {

    margin-left: 20%;
    margin-top: -65%;
    color: white;

}

h5 {

    margin-left: -5%;
    font-size: 100%;
}

.yt {


    margin-left: -1%;
}

#trend {
    margin-top: 0%;
    margin-left: -2%;
}