#log {
    margin-top: 8%;
    margin-left: 20%;
}

h4 {
    font-size: xx-large;
    margin-left: 33%;
    color: white;
}
#img230{

    margin-left: 20%;
    margin-top: 5%;
}

#con {
    background-color: rgb(24, 30, 35);
    width: 350px;
    height: 380px;
    margin-left: -37%;
    border-radius: 5%;
    margin-top: -54%;

}

#btn3 {
    margin-left: 35%;

}

#input {
    margin-left: 6%;
}