#about-details{
    margin-top: 3%;
    margin-left: -31%;
    font-size: 18px;
    color:grey;


}
#ab-title{

    margin-top: 4%;
    margin-left: 9%;
    color:white;
}

.img2{
    border-radius: 50%;
}
#h5-about{
    margin-left: -31%;
}
#about-hr{
    background-color: aliceblue;
    margin-left: -32%;
    width : 1240px;
    margin-top: 4%;
}
#h6-ab{
    margin-left: -30%;
    margin-top: -1%;
    color:white;
}
#h6-ab #insta:hover{
    color:rgb(113, 17, 113)
}
#h6-ab #face:hover{
    color:rgb(113, 17, 113)
}

#h6-ab #twitter:hover{
    color:rgb(113, 17, 113)
}


#h6-a{

    margin-left: 10%;
    color:white;


}

