#personalinfo{

    margin-top: -40%;
    font-size: large;
   margin-left: -21%;

   
   
}
#cont-per{

    height: max-content;
    border-color: rgb(37, 40, 43);
    border-width: 5px;
 
    width: 500px;
    margin-left: -4%;
}
#personal-info-details-title{
    margin-left: 2%;
    font-size: 25px;
}
#per1{
    background-color: rgb(35, 38, 41);
    height: 300px;
    width: 25000px;
    margin-left: -5%;
    
}
#per-json{
    color:aliceblue;
    font-size: 25px;
}
#per-info{
    margin-left: -29%;
    font-size: xx-large;
    color:aqua;
  
}
#btn-update{
    margin-left: 85%;
}
#btn-back{
    margin-left: -9%;
}

#personal-info-details{
    margin-left: 12%;
    color: grey;
    font-size:20px;

    
   
    
}
/* #Container-info1{
    height: 50px;
    width:1900px;
    background-color: rgb(34, 33, 33);
    margin-left: -35%;
} */
#h33{
    margin-left: 3%;
}
#h6-per-infoma{
    margin-left: -25%;
    margin-top: 2%;
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:grey;
}

#h5-pers-info{
    margin-left: 8%;
    font-size: xx-large;
}
#h6-per-info{

    margin-left: -3%;
    color:grey;
    margin-top: 2%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#h6-per-infos{
    margin-left: -30%;
    font-size: 25px;
}
#img20{
    margin-left:45%;
    margin-top: -3%;
}